<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="img/favicon.png">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="This is a mobile only prototype for Crisis Control, a mass casualty incident response platform.">
    <meta name="author" content="Jacob Duval">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
    
    <link href="/css/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/site.css" rel="stylesheet">
    <link href="/css/ember-animated-outlet.css" rel="stylesheet">
    <link href="/css/validation_engine.css" rel="stylesheet">
            <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="lib/vendor/validation/jquery.validationEngine-en.js"></script>
    <script src="lib/vendor/validation/jquery.validationEngine.js"></script>
    
    
    <title><%=title%></title>

    <%-stylesheets%>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Crisis Control</a>
            
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav navbar-left">
            <li class="cdrop"><a href="https://www.surveymonkey.com/s/FL8GJ9D">Feedback</a></li>

          </ul>
        </div>
    </nav>

    <%-body -%>
    <footer>

        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/vendor/jqueryui1102.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.0.0/ember.prod.js"></script>
        <script type="text/javascript" src="lib/vendor/ember-animated-outlet.js"></script>
        <script type="text/javascript" src="lib/vendor/touchpunch.js"></script>
        <%-scripts%>
    </footer>
  </body>
</html>