<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link href="/css/site.css" rel="stylesheet">
    <link href="/css/ember-animated-outlet.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <%-stylesheets%>
  </head>
  <body>
    <%-body -%>
    <footer>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.0.0/ember.prod.js"></script>
        <script type="text/javascript" src="lib/ember-animated-outlet.js"></script>
        <%-scripts%>
    </footer>
  </body>
</html>