<% layout('../shared/layout') -%>

<script data-template-name="application" type="text/x-handlebars">
    <div class="main-content">
        {{outlet}}
    </div>
</script>

<script data-template-name="index" type="text/x-handlebars">
   <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="action-nav-normal">
          <div class="row action-nav-row">
            <h3>Are you OK?</h3>
            <div class="col-sm-6 action-nav-button">
              <a {{action goToDontNeedHelp}}>
                <i class="fa-check"></i>
                <span>YES</span>
              </a>
            </div>
            <div class="col-sm-6 action-nav-button">
              <a {{action goToNeedHelp}}>
                <i class="fa-times"></i>
                <span>NO</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</script>

<script data-template-name="needhelp" type="text/x-handlebars">
    <h3>Someone will be in touch shortly</h2>
</script>

<script data-template-name="dontneedhelp" type="text/x-handlebars">
    <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="action-nav-normal">
          <div class="row action-nav-row">
            <h3>Can You Help?</h3>
            <div class="col-sm-6 action-nav-button">
              <a {{action goToCanHelp}}>
                <i class="fa-check"></i>
                <span>YES</span>
              </a>
            </div>
            <div class="col-sm-6 action-nav-button">
              <a {{action goToCantHelp}}>
                <i class="fa-times"></i>
                <span>NO</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</script>

<script data-template-name="canhelp" type="text/x-handlebars">
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="action-nav-normal">
          <div class="row action-nav-row">
            <h3>How far away from the hospital are you?</h3>
            <div class="row box-section">
              <div class="col-md-3">{{view.distanceText}}</div>
              <div class="col-md-9">
                <div id="distanceSlider" class="ranged-slider-ui only-min"></div>
              </div>
            </div>
            <div class="col-sm-6 action-nav-button">
              <a {{action next}}>
                <i class="fa-times"></i>
                <span>OK</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</script>

<script data-template-name="canthelp" type="text/x-handlebars">
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="action-nav-normal">
          <div class="row action-nav-row">
            <h3>Tell us if you become available</h3>
            
            <div class="col-sm-6 action-nav-button">
              <a {{action next}}>
                <i class="fa-times"></i>
                <span>I'm now available.</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</script>

<script data-template-name="getjob" type="text/x-handlebars">
    <h3>Please wait, assigning you to a team...</h3>
</script>

<script data-template-name="waitoninstructions" type="text/x-handlebars">
    <h3>Thanks, we will contact you if you are needed.</h3>
</script>

<script data-template-name="youareneeded" type="text/x-handlebars">
    <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="action-nav-normal">
          <div class="row action-nav-row">
            <h3>We need you at the hospital</h3>
            
            <div class="col-sm-6 action-nav-button">
              <a {{action next}}>
                <i class="fa-times"></i>
                <span>I'm on my way</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</script>

<script data-template-name="onmyway" type="text/x-handlebars">
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="action-nav-normal">
          <div class="row action-nav-row">
            <h3>See you in {{distance}} minutes</h3>
            
            <div class="col-sm-6 action-nav-button">
              <a {{action next}}>
                <i class="fa-times"></i>
                <span>I'm here</span>
              </a>
            </div>
            <div class="col-sm-6 action-nav-button">
              <a {{action toggleDelayed target="view"}}>
                <i class="fa-times"></i>
                <span>{{ view.sliderToggleText }}</span>
              </a>
            </div>
            <div id="sliderwrapper" id="sliderwrapper" style="display:none;">
                <div class="row box-section" >
                  <div class="col-md-3">{{view.distanceText}}</div>
                  <div class="col-md-9">
                    <div id="distanceSlider" class="ranged-slider-ui only-min"></div>
                  </div>
                </div>
                <div class="col-sm-6 action-nav-button">
                  <a {{action delayed target="view"}}>
                    <i class="fa-times"></i>
                    <span>OK</span>
                  </a>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
</script>

<% script('js/mobile.js') -%>