<% layout('../shared/layout') -%>
<script data-template-name="application" type="text/x-handlebars">
    <div class="content">
        {{animatedOutlet name="main"}}
    </div>
</script>

<script data-template-name="index" type="text/x-handlebars">
    <h2>Are You Ok? </h2>
    <a {{action goToNeedHelp}}>No</a>
    <a {{action goToCanHelp}}>Yes</a>
</script>

<script data-template-name="needhelp" type="text/x-handlebars">
    <h3>Someone will be in touch shortly</h2>
</script>

<script data-template-name="canhelp" type="text/x-handlebars">
    sweet bro
</script>
<% script('js/mobile.js') -%>